@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital@0;1&display=swap');

nav {
  text-align: center;
  min-height: 5vw;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    min-height: 5vw;
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      display: inline-block;
      align-self: center;

      transition: all .2s ease-in;

      a {
        font-family: 'Roboto', sans-serif;
        font-size: 1vw;
        color: #223046;

        text-decoration: none;

      }
      a:hover {
        color: black;
      }
    }
  }
}