// Color variables
$light-base-color: #E3E3E3;
$dark-base-color: #223046;

$modal-back-background-color: #1E1E1E;
$modal-bc-color: #B9D6F3;

$modal-close-color: #223046;
$modal-close-color-hover: #FFFFFF;

$border-color: #BFC4CD;
$error-color: #EB2B21;

// Transition
$button-transition: all 0.4s ease-out;
